<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" [(ngModel)]="order.name" required=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">User</ion-label>
    <ion-input type="text" [(ngModel)]="order.user" required=""></ion-input>
  </ion-item>

  <ion-item color="fondo">
    <ion-label position="floating">Estado</ion-label>
    <ion-input type="text" [(ngModel)]="order.estado" required=""></ion-input>
  </ion-item>

  <ion-button class="ion-padding" color="secundario" expand="full" (click)="createAux(order)">
    Create
  </ion-button>
  <ion-button class="ion-padding" color="cabecera" expand="full" [routerLink]="'/admin-panel'">
    Cancel
  </ion-button>
</ion-content>

