<ion-header>
  <ion-toolbar color="cabecera">
    <ion-title><ion-icon name="chevron-back-outline" [routerLink]="'/admin-panel'"></ion-icon>
      MPD Admin Promociones</ion-title>
    <ion-button color="secundario" class="logout" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="fondo">
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/add-product'" color="secundario">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list lines="none" color="fondo" class="ion-no-padding">
    <ion-item-sliding *ngFor="let promocion of promociones">
      <ion-item class="no-padding" color="fondo">
        <ion-avatar slot="start">
          <ion-img [src]="promocion.imageURL"></ion-img>
        </ion-avatar>
        <ion-label>
          <p>Name: {{promocion.name}}</p>
          <p>Precio: {{promocion.precio}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="secundario" [routerLink]="['/edit-product/',promocion.id]">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="presentAlert(promocion.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-button class="ion-padding" color="cabecera" expand="full" [routerLink]="'/admin-panel'">
    Back
  </ion-button>
</ion-content>

