ion-item-sliding {
  border-bottom: 1px solid #3a3a3c;
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
}
.cart {
  position: absolute;
  top: 0;
  right: 6%;
}

.home {
  position: absolute;
  top: 18px;
  left: 10px;
  color: grey;
}

.title {
  text-align: center;
}

