<ion-header>
  <ion-toolbar color="cabecera">
    <ion-title><ion-icon name="chevron-back-outline" [routerLink]="'/admin-panel'"></ion-icon>
      Admin Orders</ion-title>
    <ion-button color="secundario" class="logout" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="fondo">
  <ion-list color="fondo" class="ion-no-padding">
    <ion-item *ngFor="let order of orders" color="fondo">
      <ion-label>
        <p>Order Date: {{ order.date.seconds * 1000 | date:'dd/MM/yyyy HH:mm:ss'}}</p>
        <p>Products:</p>
        <p *ngFor="let product of order.products">&nbsp;&nbsp;&nbsp;&nbsp;{{product}}</p>
        <p>Price: {{order.price}}€</p>
        <p>User: {{order.user}}</p>
        <p>Address: {{order.address}}</p>
        <p>State: {{order.estado}}</p>
        <!--<ion-button class="ion-float-end iconSize20" [class.button-disabled]="order.estado !== 'Cancelado'" color="danger" >-->
        <ion-button *ngIf="order.estado === 'Cancelado'" class="ion-float-end iconSize20" color="danger"
            (click)="deleteOrder(order.id)">
          <ion-icon class="iconSize20"  name="trash"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button color="cabecera" expand="full" [routerLink]="'/admin-panel'">
    Back
  </ion-button>
</ion-content>
