<ion-header>
  <ion-toolbar color="cabecera">
    <ion-title><ion-icon name="chevron-back-outline" [routerLink]="'/admin-panel'"></ion-icon>
      Admin Orders</ion-title>
    <ion-button color="secundario" class="logout" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="fondo">
  <ion-button class="ion-padding" color="cabecera" expand="full" [routerLink]="'/admin-panel'">
    Back
  </ion-button>
</ion-content>
