.logout {
  position: absolute;
  top: 5px;
  right: 10px;
}
ion-item {
  border-bottom: 1px solid #3a3a3c;
}

.iconSize20{
  font-size: 25px;
}
.alerta{
  background-color: #001722 !important;
  color: white;
}
