.logout2 {
  position: absolute;
  top: 0;
  right: 0;
}

.contact {
  position: absolute;
  top: 0;
  right: 120px;
}
.cart {
  position: absolute;
  top: 0;
  right: 6%;
}
.user {
  position: absolute;
  top: 0;
  right: 0;
}

.imgpromo {
  height: 380px;
}