<ion-header>
  <ion-toolbar>
    <ion-title class="title">Search</ion-title>
    <ion-icon name="home" [routerLink]="'/user'" class="home"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton (ionInput)="filterList($event)"></ion-searchbar>
  <ion-list>
    <ion-item >
      <ion-label>Bebida</ion-label>
      <ion-checkbox slot="end" (click)='categorizar("Bebida")'></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Refresco</ion-label>
      <ion-checkbox slot="end" (click)='categorizar("Refresco")'></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Entrante</ion-label>
      <ion-checkbox slot="end" (click)='categorizar("Entrante")'></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Picoteo</ion-label>
      <ion-checkbox slot="end" (click)='categorizar("Picoteo")'></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Primer plato</ion-label>
      <ion-checkbox slot="end" (click)='categorizar("Primer plato")'></ion-checkbox>
    </ion-item>
    <ion-item >
      <ion-label>Pizza</ion-label>
      <ion-checkbox slot="end" (click)='categorizar("Pizza")'></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let product of productList" size="6">
        <ion-list>
          <ion-item>
            <ion-card>
              <ion-img [src]="product.imageURL"></ion-img>
              <ion-card-header>
                <ion-card-title>{{product.name}}</ion-card-title>
                <ion-card-subtitle>{{product.type}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                {{product.price}} €
                <ion-button color="primary">Add to Cart</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
